# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual Environment
venv/
.env

# Environment Variables
.env

# Data
data/raw/
data/processed/
data/curated/

# Model artifacts
model_artifacts/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Docker
*.tar